**QUESTION 1**

In [0]:
import numpy 
import pandas
data_list = pandas.read_excel("DATASET.xlsx", header=0)
data_list = data_list.drop('Example',axis=1)
print (data_list)

   ALT Bar Fri Hun   Pat Price Rain Res     Type        Est Target Wait
0    T   F   F   T  Some   $$$    F   T   French    0 to 10           T
1    T   F   F   T  Full     $    F   F     Thai   30 to 60           F
2    F   T   F   F  Some     $    F   F   Burger    0 to 10           T
3    T   F   T   T  Full     $    F   F     Thai  10 to  30           T
4    T   F   T   F  Full   $$$    F   T   French       > 60           F
5    F   T   F   T  Some    $$    T   T  Italian    0 to 10           T
6    F   T   F   F  None     $    T   F   Burger    0 to 10           F
7    F   F   F   T  Some    $$    T   T     Thai    0 to 10           T
8    F   T   T   F  Full     $    T   F   Burger        >60           F
9    T   T   T   T  Full   $$$    F   T  Italian   10 to 30           F
10   F   F   F   F  None     $    F   F     Thai    0 to 10           F
11   T   T   T   T  Full     $    F   F   Burger  30 to 60            T

In [0]:
names = []
for h in list(data_list) :
    l = list(set( data_list[h] ))
    names.append(l)
names

[['F', 'T'],
 ['F', 'T'],
 ['F', 'T'],
 ['F', 'T'],
 ['Some', 'Full', 'None'],
 ['$$', '$$$', '$'],
 ['F', 'T'],
 ['F', 'T'],
 ['Burger', 'Thai', 'French', 'Italian'],
 ['30 to 60 ', '10 to 30', '10 to  30', '0 to 10', '>60', '> 60', '30 to 60'],
 ['F', 'T']]

In [0]:
length = len(list(data_list))
a = []
for i in range(0, length-1) :
    if(list(data_list)[i] == list(data_list)[-2]) :
        frame = pandas.pivot_table(data_list, index = data_list[list(data_list)[i]], columns = [headings[-1]], values = [list(data_list)[1]], aggfunc = 'count')
        frame = frame[list(data_list)[1]]
    else :
        frame = pandas.pivot_table(data_list, index = data_list[list(data_list)[i]], columns = [headings[-1]], values = [list(data_list)[i+1]], aggfunc = 'count')
        frame = frame[list(data_list)[i+1]]
    a.append(frame)

    a[-1] = a[-1].fillna(0)
    a[-1]['total'] = a[-1][atributes[-1][0]] + a[-1][atributes[-1][1]]

In [0]:
a

[Target Wait  F  T  total
 ALT
 F            3  3      6
 T            3  3      6, Target Wait  F  T  total
 Bar
 F            3  3      6
 T            3  3      6, Target Wait  F  T  total
 Fri
 F            3  4      7
 T            3  2      5, Target Wait  F  T  total
 Hun
 F            4  1      5
 T            2  5      7, Target Wait    F    T  total
 Pat
 Full         4.0  2.0    6.0
 None         2.0  0.0    2.0
 Some         0.0  4.0    4.0, Target Wait    F    T  total
 Price
 $            4.0  3.0    7.0
 $$           0.0  2.0    2.0
 $$$          2.0  1.0    3.0, Target Wait  F  T  total
 Rain
 F            4  4      8
 T            2  2      4, Target Wait  F  T  total
 Res
 F            4  3      7
 T            2  3      5, Target Wait  F  T  total
 Type
 Burger       2  2      4
 French       1  1      2
 Italian      1  1      2
 Thai         2  2      4, Target Wait    F    T  total
 Est
 0 to 10      2.0  4.0    6.0
 10 to  30    0.0  1.0    1.0
 10 to 30     1.0  0.0    1.0
 30 to 60     1.0  0.0    1.0
 30 to 60     0.0  1.0    1.0
 > 60         1.0  0.0    1.0
 >60          1.0  0.0    1.0]

In [0]:
def false(input_list):
    answer1 = len([i for i in data_list[list(data_list)[-1]] if i=='F']) / float(length)
    for i in range(0, len(list(data_list))-1):
        answer1 = answer1*(a[i]['F'][input_list[i]]/float(a[i]['total'][input_list[i]]))
    return answer1

In [0]:
def true(input_list):
    answer2 = len([i for i in data_list[list(data_list)[-1]] if i=='T']) / float(length)
    for i in range(0, len(list(data_list))-1):
        answer2 = answer2*(a[i]['T'][input_list[i]]/float(a[i]['total'][input_list[i]]))
    return answer2

In [0]:
input_list = []
for i in range(0 , len(list(data_list))-1):
    input_list.append(input("Enter {} as {}" .format(list(data_list)[i],atributes[i])))

ans = true(input_list)    
print ("Prob of being True is-> {}" .format(ans))
print ("Prob of being False is-> {}" .format(false(input_list)))

Enter ALT as ['F', 'T']T
Enter Bar as ['F', 'T']T
Enter Fri as ['F', 'T']T
Enter Hun as ['F', 'T']T
Enter Pat as ['Some', 'Full', 'None']Full
Enter Price as ['$$', '$$$', '$']$
Enter Rain as ['F', 'T']F
Enter Res as ['F', 'T']F
Enter Type as ['Burger', 'Thai', 'French', 'Italian']Burger
Enter Est as ['30 to 60 ', '10 to 30', '10 to  30', '0 to 10', '>60', '> 60', '30 to 60']30 to 60
Prob of being True is-> 0.0
Prob of being False is-> 0.001272197190564537

**QUESTION 2**

In [0]:
import numpy 
import pandas

data_list = pandas.read_excel("data_sheet.xlsx", header=0)
data_list = data_list.drop('RID',axis=1)
print (data_list)

         Age  Income Student Credit_rating Class : buys_computer
0       <=30    High      No          Fair                    No
1       <=30    High      No     Excellent                    No
2   31 ...40    High      No          Fair                   Yes
3        >40  Medium      No          Fair                   Yes
4        >40     Low     Yes          Fair                   Yes
5        >40     Low     Yes     Excellent                    No
6    31 ..40     Low     Yes     Excellent                   Yes
7       <=30  Medium      No          Fair                    No
8       <=30     Low     Yes          Fair                   Yes
9        >40  Medium     Yes          Fair                   Yes
10      <=30  Medium     Yes     Excellent                   Yes
11   31 ..40  Medium      No     Excellent                   Yes
12   31 ..40    High     Yes          Fair                   Yes
13       >40  Medium      No     Excellent                    No

In [0]:
headers=list(data_list)
name2 = []
for i in list(data_list):
    name2.append(list(set(data_list[i])))
name2

[['31 ..40', '<=30', '>40', '31 ...40'],
 ['Low', 'Medium', 'High'],
 ['Yes', 'No'],
 ['Fair', 'Excellent'],
 ['Yes', 'No']]

In [0]:
def classify(atribute,value):
    return pandas.pivot_table(data_list,index=data_list[atribute],columns=[headers[-1]],values=[value],aggfunc='count')

In [79]:
a2 = []
for i in range(0,len(list(data_list))-1):
    if(list(data_list)[i] == list(data_list)[-2]):
        frame2 = pandas.pivot_table(data_list,index=data_list[list(data_list)[i]],columns=[headers[-1]],values=[list(data_list)[1]],aggfunc='count')
        frame2 = frame2[list(data_list)[1]]
    else:
        frame2 = pandas.pivot_table(data_list,index=data_list[list(data_list)[i]],columns=[headers[-1]],values=[list(data_list)[i+1]],aggfunc='count')
        frame2 = frame2[list(data_list)[i+1]]
    a2.append(frame2)
    a2[-1]=a2[-1].fillna(0)
    a2[-1]['total'] = a2[-1][atribute_value[-1][0]]+a2[-1][atribute_value[-1][1]]
        
a2

[Class : buys_computer   No  Yes  total
 Age
 31 ...40               0.0  1.0    1.0
 31 ..40                0.0  3.0    3.0
 <=30                   3.0  2.0    5.0
 >40                    2.0  3.0    5.0, Class : buys_computer  No  Yes  total
 Income
 High                    2    2      4
 Low                     1    3      4
 Medium                  2    4      6, Class : buys_computer  No  Yes  total
 Student
 No                      4    3      7
 Yes                     1    6      7, Class : buys_computer  No  Yes  total
 Credit_rating
 Excellent               3    3      6
 Fair                    2    6      8]

In [0]:
def yes(input_list):
    ans = len([i for i in data_list[list(data_list)[-1]] if i=='Yes'])/float(len(data_list))
    for i in range(0, len(list(data_list))-1):
        ans=ans*(a2[i]['Yes'][input_list[i]]/float(a2[i]['total'][input_list[i]]))
    return ans

In [0]:
def no(input_list):
    ans = len([i for i in data_list[list(data_list)[-1]] if i=='No'])/float(len(data_list))
    for i in range(0, len(list(data_list))-1):
        ans=ans*(a2[i]['No'][input_list[i]]/float(a2[i]['total'][input_list[i]]))
    return ans

In [86]:
input_list = []
for i in range(0, len(list(data_list))-1):
    input_list.append(input("Enter {} as {}" .format(list(data_list)[i],atribute_value[i])))
y = yes(input_list)    
n = no(input_list)
print ("probability for classified to be Yes is {}" .format(y))
print ("probability for classified to be No is {}" .format(n))

Enter Age as ['31 ..40', '<=30', '>40', '31 ...40']<=30
Enter Income as ['Low', 'Medium', 'High']Medium
Enter Student as ['Yes', 'No']No
Enter Credit_rating as ['Fair', 'Excellent']Fair
probability for classified to be Yes is 0.055102040816326525
probability for classified to be No is 0.01020408163265306